@import "../../styles/variables.scss";

.character-selector-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  justify-content: center;
  margin: var(--spacing) auto;
  padding: var(--spacing);
  text-align: center;
}
